{% extends 'base.html.twig' %}
{% block body %}
<div class="container mx-auto py-8">
    {% if user.id %}
        {{ include('page_header.html.twig', { title: 'Edycja użytkownika ' ~ user.name }) }}
    {% else %}
        {{ include('page_header.html.twig', { title: 'Nowy użytkownik'}) }}
    {% endif %}
    <div class="flex">
        <div class="w-1/2">
            {{ form(form) }}
        </div>
    </div>
</div>
{% endblock %}
